body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

.background {
    background-image: url('./img/pexels-august-de-richelieu-4427430\ 1.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.navbar {
    width: 95%;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 20px;
    position:static;
    top: 0px;
}

.logo{
    padding-bottom: 20px;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items:end;
    padding-bottom: 5px;
}

.navbar-bottom {
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    font-size: 18px;
    letter-spacing: 3px;
}

.contact-number{
    font-weight: bold;
}



.title{
    font-family: "Noto Serif Display", serif;
    font-weight: 400;
    letter-spacing: 30px;
    font-size: 140px;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra adicional */
    margin: 20px 0 100px 0;
    text-align: center;
    
}

.presentation.subtitle{
    letter-spacing: 10px;
    font-weight: 400;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra adicional */
    margin: 0;
}

.content {
    z-index: 1;
    padding: 300px 0 100px 0;
}

.cta-button{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 26px 40px;
    text-decoration: none;
    font-weight: 800;
    margin-top: 100px;
    border-style: none;
    letter-spacing: 4px;
}

a{
    text-decoration: none;
    color: white;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
}
  
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.card {
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 60px 100px;
    min-width: 700px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
.carousel-button {
    top: 50%;
    background-color: rgba(255, 255, 255, 0);
    color: #D85172;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}
  
.carousel-button.prev {
    left: 10px;
}
  
.carousel-button.next {
    right: 10px;
}

.we-get-results {
    font-size: 70px;
    background: linear-gradient(90deg, rgba(188,196,251,1) 0%, rgba(188,133,242,1) 40%, rgba(221,81,113,1) 55%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.case-results.main-container{
    background-color: black;
}

.case-results.second-container{
    padding: 100px 0 0 10%;
}

h3.case-results{
    letter-spacing: 8px;
    font-family: "Noto Serif Display", serif;
    font-weight: 200;
    font-weight: bold;
    font-size: 20px;
    color: white;
    z-index: 10;
}


.case-results.img-container{
    background: linear-gradient(black 10%,rgba(0, 0, 0, 0) 20%), url("./img/sergey-zolkin-_UeY8aTI6d0-unsplash\ 1.png") no-repeat center center;
    min-width: 100%;
    min-height: 100vh;
    height: 850px;
    background-size: cover;
}

.card-red-text{
    color: #D85172;
    font-size: 64px;
    font-weight: bold;
    margin: 10px;
}

.card-titles{
    font-family: "Noto Serif", serif;
    font-size: 18px;
    letter-spacing: 8px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text-content{
    font-weight: 450;
    font-size: 16px;
    line-height: 2.2;
    margin: 20px 0 45px 0;
}

.case-results-title{
    display: flex;
    justify-content: space-between;
    margin: 0 5% 50px 0
}

.case-results.top{
    margin-left: 10px;
}

.case-results-button{
    background-color: black;
    border: solid, #D85172, 1px;
    border-radius: 4px;
    color: #ccc;
    font-size: 16px;
    padding: 15px 20px;
    height:min-content;
}

.case-types{
    background: url("./img/BG.png") top no-repeat;
    background-size: 95% auto;   
    background-color: #171B24;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 150px 0 150px 0;
    color: #fff;
}

.grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 20%;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 100px;
    height: 100px;
}

.grid-item p{
    font-family: "Manrope", sans-serif;
    font-weight: bold;
}

.why-choose-us-container {
    text-align: left;
    padding: 80px 10%;
    background: linear-gradient(white 50%,#EAEAEA 50%);
}

.why-choose-us-title {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-size: 100px;
    margin-bottom: 60px;
    margin-top: 0;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

.feature-item {
    background-color: #000;
    color: #fff;
    padding: 60px 60px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure all items are the same height */
}

.feature-item::before {
    content: '';
      position: absolute;
      left: 0;
      top: 15%;
      height: 70%;
      width: 0;
      border-left: 1px solid rgb(255, 255, 255);
      transform: translateX(-50%);
}

.feature-item::after {
    content: '';
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 60%;
    height: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    transform: translateY(50%);
  }

.feature-item h2 {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 500;
}

.feature-item p {
    font-size: 18px;
    line-height: 1.5;
}

.why-choose-us-button {
    background-color: #c00;
    color: #fff;
    border: none;
    padding: 16px 32px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
    font-family: "Roboto Slab", serif;
    border-radius: 4px;
}